@charset "UTF-8";
.menu-section {
  width: 100%;
  height: 100vh;
}

@media (min-width: 1100px) {
  .menu-section {
    height: 120vh;
  }
}

@media (min-width: 1100px) {
  .menu-section {
    height: 150vh;
  }
}

@media (min-width: 1512px) {
  .menu-section {
    height: 200vh;
  }
}

@media (max-width: 768px) {
  .menu-section .menu-container {
    padding: 0px 2rem;
  }
}

#menu {
  background-image: url("../img/1-5菜單/background(1920x2160).svg");
  background-color: wheat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  #menu {
    overflow: hidden;
  }
}

.menu-list {
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .menu-list .position-md-absolute {
    position: absolute;
  }
}

@media (max-width: 768px) {
  .menu-list a {
    width: 50%;
    height: 50vw;
    margin: 1rem 0;
    padding: 0 0.75rem;
  }
  .menu-list .tag {
    width: 90%;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: bisque;
    padding: 0 1em;
    z-index: 3;
  }
  .menu-list .tag p {
    font-size: 1rem;
  }
  .menu-list .list {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .menu-list .list1 {
    width: 45.31%;
    height: 42.5vw;
    left: 28%;
    top: 10.47%;
  }
}

@media (min-width: 1512px) {
  .menu-list .list1 {
    width: 706.32px;
    height: 706.32px;
    left: 31.94%;
    top: 10.47%;
  }
}

.menu-list .list1 .number1 {
  background-image: url("../img/1-5菜單/日式三明治.png");
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .menu-list .list1 .tag1 {
    z-index: 3;
    width: 50%;
    height: 83.86px;
    margin-left: 50%;
    margin-top: 75%;
    background-color: darkgray;
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  .menu-list .list2 {
    width: 24.86%;
    height: 24.86vw;
    left: 11.25%;
    top: 70.2%;
  }
}

@media (min-width: 1512px) {
  .menu-list .list2 {
    width: 409.3px;
    height: 409.3px;
    left: 11.25%;
    top: 70.2%;
  }
}

.menu-list .list2 .number2 {
  background-image: url("../img/1-5菜單/日式漢堡.jpg");
  background-position: center center;
  background-size: cover;
}

@media (min-width: 768px) {
  .menu-list .list2 .tag2 {
    z-index: 3;
    width: 219.46px;
    height: 64.56px;
    left: -20%;
    margin-top: 1rem;
    background-color: darkgray;
  }
}

@media (min-width: 768px) {
  .menu-list .list3 {
    width: 40.1%;
    height: 40.1vw;
    left: 46.93%;
    top: 57.41%;
  }
}

@media (min-width: 1512px) {
  .menu-list .list3 {
    width: 661.33px;
    height: 661.33px;
    left: 46.93%;
    top: 57.41%;
  }
}

.menu-list .list3 .number3 {
  background-image: url("../img/1-5菜單/極厚切丹麥.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  .menu-list .list3 .tag3 {
    z-index: 3;
    width: 267.72px;
    height: 76.42px;
    left: -5%;
    margin-top: 4rem;
    background-color: darkgray;
  }
}

@media (min-width: 768px) {
  .menu-list .list4 {
    width: 27.72%;
    height: 27.72vw;
    left: 73.82%;
    top: 73.99%;
  }
}

@media (min-width: 1512px) {
  .menu-list .list4 {
    width: 457.1px;
    height: 457.1px;
    left: 73.82%;
    top: 73.99%;
  }
}

.menu-list .list4 .number4 {
  background-image: url("../img/1-5菜單/主廚限定鹹派1.png");
  background-position: center center;
  background-size: cover;
}

@media (min-width: 768px) {
  .menu-list .list4 .tag4 {
    z-index: 3;
    width: 496.14px;
    height: 81.47px;
    left: -67%;
    top: 71%;
    background-color: darkgray;
  }
}

.menu-list .list5 {
  z-index: 2;
}

@media (min-width: 768px) {
  .menu-list .list5 {
    width: 18.69%;
    height: 18.69vw;
    left: 9.48%;
    top: 44.92%;
  }
}

@media (min-width: 1512px) {
  .menu-list .list5 {
    width: 308.18px;
    height: 308.18px;
    left: 9.48%;
    top: 44.92%;
  }
}

.menu-list .list5 .number5 {
  background-image: url("../img/1-5菜單/飲品1.png");
  background-position: center center;
  background-size: cover;
}

@media (min-width: 768px) {
  .menu-list .list5 .tag5 {
    z-index: 3;
    width: 238.67px;
    height: 60.18px;
    left: 42%;
    top: 70%;
    background-color: darkgray;
  }
}

@media (min-width: 768px) {
  .menu-list .list6 {
    width: 27.66%;
    height: 27.66vw;
    left: -3.79%;
    top: 28.01%;
  }
}

@media (min-width: 1512px) {
  .menu-list .list6 {
    width: 456.16px;
    height: 456.16px;
    left: -3.79%;
    top: 28.01%;
  }
}

.menu-list .list6 .number6 {
  background-image: url("../img/1-5菜單/佐味小食.webp");
  background-position: center center;
  background-size: cover;
}

@media (min-width: 768px) {
  .menu-list .list6 .tag6 {
    z-index: 3;
    width: 243.66px;
    height: 59.32px;
    top: -4%;
    left: 48%;
    background-color: darkgray;
  }
}

@media (min-width: 768px) {
  .menu-list .list7 {
    width: 28.8%;
    height: 28.8vw;
    left: 75.5%;
    top: 12.73%;
  }
}

@media (min-width: 1512px) {
  .menu-list .list7 {
    width: 474.68px;
    height: 474.68px;
    left: 80.52%;
    top: 12.73%;
  }
}

.menu-list .list7 .number7 {
  background-image: url("../img/1-5菜單/限定甜品1.png");
  background-position: center center;
  background-size: cover;
}

@media (min-width: 768px) {
  .menu-list .list7 .tag7 {
    z-index: 3;
    width: 70%;
    height: 79.65px;
    top: -13%;
    left: 10%;
    background-color: darkgray;
  }
}

.menu-list .number8 {
  background-image: url("../img/1-5菜單/佐味小食.webp");
  background-position: center;
  background-size: cover;
}

.z-layer:first-child {
  color: black;
}

.z-layer {
  color: red;
}
/*# sourceMappingURL=menu.css.map */