$color_1: #000;//文字用
$color_2: black;//文字用
$background-color_1: darkcyan;//形象頁面nav底色
$background-color_2: black;//底線顏色
$background-color_3: #C4C4C4;//放圖片區域底色

* {
	box-sizing: border-box;
	padding: 0;
	border: 0;
	transition: .3s;
}
body {
	background: #eee;
	color: $color_1;
	margin: 0;
	padding: 0;
}
.sectionSize {
  margin-top: 150px;
	width: 100%;
	height: 100vh;
}
p {
	margin: 0;
	padding: 0;
}
h1 {
	margin: 0;
	padding: 0;
}
h2 {
	margin: 0;
	padding: 0;
}
a {
	color: $color_2;
	&:hover{ text-decoration: none;
	color: $color_1;
}
} 
	.swiper {
		width: 100%;
		height: 100vh;
	}
	.img1 {
		border-radius: 50%;
		background-color: $background-color_3;
    background-image: url(https://dummyimage.com/750X750/dba878/f5f5f5.png&text=Boss+X2);
		width: 729.68px;
		height: 729.68px;
		position: absolute;
		left: 39px;
		top: 267.84px;
	}
	.food{
			.foodImageSection {
				margin-top: 134px;
				margin-left: 57.02px;
			}
		}
	.foodImg2 {
		margin-bottom: 147.01px;
	}

.swiper-slide {
	
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

}
.nav {
	width: 28%;
	background-color: $background-color_1;
}
	.navbar{
		.nav {
			width: 28%;
			background-color: $background-color_1;
		}
	}
	title {
		.titleTag {
			margin-left: 64.77px;
		}
	}
	
	.profile {
			width: 100%;
			height: 100vh;
			position: relative;
			p { 
      font-size: 27.98px;
			letter-spacing: .1em;
			font-weight: 600;
			z-index: 2;
		}
	}
		.infor {
			overflow: hidden;
	}


.navbar {
	.navbar_title {
		width: 285px;
		height: 85px;
		position: absolute;
		top: 184px;
		left: 80px;
		.title_p {
			font-size: 40px;
			line-height: 48px;
		}
	}
	.navbar_content {
		position: absolute;
		top: 360px;
		left: 110px;
		.navbar_target {
			display: flex;
			width: 150px;
			margin-bottom: 34px;
			.sort {
				font-size: 17px;
				margin-right: 10px;
			}
			a {
				font-size: 30px;
				// text-decoration: none;
			}
			.about {
				&::after {
					content: "";
					position: absolute;
					height: 2px;
					width: 80%;
					top: 45px;
					left: 27px;
					background-color: $background-color_2;
				}
			}
			.news {
				&::after {
					content: "";
					position: absolute;
					height: 2px;
					width: 80%;
					top: 125px;
					left: 27px;
					background-color: $background-color_2;
				}
			}
			.menu {
				&::after {
					content: "";
					position: absolute;
					height: 2px;
					width: 40%;
					top: 205px;
					left: 27px;
					background-color: $background-color_2;
				}
			}
			.information {
				&::after {
					content: "";
					position: absolute;
					height: 2px;
					width: 80%;
					top: 285px;
					left: 27px;
					background-color: $background-color_2;
				}
			}
			.booking {
				&::after {
					content: "";
					position: absolute;
					height: 2px;
					width: 80%;
					top: 365px;
					left: 27px;
					background-color: $background-color_2;
				}
			}
		}
	}
	.navbar_icon {
		position: absolute;
		display: flex;
		top: 800px;
		left: 155px;
		gap: 12px;
	}
}
.title {
	padding-left: 167.77px;
	padding-top: 163.38px;
}
.logoTag {
	height: 53px;
	width: 53px;
	border-radius: 50%;
}
.mark {
	width: 36.68px;
	height: 53px;
	margin-left: 39.15px;
	position: relative;
	&::after {
		position: absolute;
		width: 14.05px;
		height: 14.05px;
		background-color: $background-color_2;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.profile_text {
	position: absolute;
	margin-top: 90.01px;
	@media (min-width: 1400px) { 
    margin-left: 46.275%;
  }
}
.profile_p1 {
	position: relative;
	line-height: 66px;
}
.profile_p2 {
	margin-top: 42.7px;
	margin-left: 65.97px;
	line-height: 65px;
}
.profile_p3 {
	margin-top: 42.9px;
	margin-left: 209.03px;
	line-height: 65.55px;
}
.img2 {
	border-radius: 50%;
	background-color: $background-color_3;
  background-image: url(https://dummyimage.com/290X290/a2cf8b/f5f5f5.png&text=店&logo);
	width: 288.75px;
	height: 288.75px;
	position: absolute;
	left: 624.49px;
	top: 745px;
}
.img3 {
	border-radius: 50%;
	background-color: $background-color_3;
  background-image: url(https://dummyimage.com/410X410/c4bf66/f5f5f5.png&text=三明治);
	width: 405.58px;
	height: 405.58px;
	position: absolute;
	left: 68.77%;
	top: 154px;
}
.foodImg {
	width: 368.99px;
	height: 368.99px;
	border-radius: 50%;
  background-color: $background-color_3;
	position: relative;
	.foodImgTitle { 
    position: absolute;
    bottom: -60px;
    left: 140px;
  }
  .foodimg-p-img{
    position: absolute;
    bottom: 20px;
  }
}
.foodImgText {
  position: absolute;
  bottom: 40px;
  left: 10px;
	letter-spacing: .2em;
	margin-left: 1em;
}
.foodImg3 {
	margin-top: 73.5px;
}
.foodImg-f{
  background-image: url(https://dummyimage.com/410X410/c46d55/f5f5f5.png&text=+bread);
}
.foodImg-s{
  background-image: url(https://dummyimage.com/410X410/c4bf66/f5f5f5.png&text=+meat);
}
.foodImg-t{
  background-image: url(https://dummyimage.com/410X410/7467c2/f5f5f5.png&text=+sauce);
}
.foodImg-f1{
  background-image: url(https://dummyimage.com/410X410/c46d55/f5f5f5.png&text=+egg);
}
.foodImg-s1{
  background-image: url(https://dummyimage.com/410X410/c4bf66/f5f5f5.png&text=+milk);
}
.foodImg-t1{
  background-image: url(https://dummyimage.com/410X410/7467c2/f5f5f5.png&text=+fruit);
}

