$color_1: #000; //文字用
$color_2: black; //文字用
$color_3: #4A2B0E; //文字用
$background-color_1: darkcyan; //形象頁面nav底色
$background-color_2: black; //底線顏色
$background-color_3: #C4C4C4; //放圖片區域底色

//快速找相對區域的css
//用Ctrl+F搜尋(例:嚴選食材)
html{
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
	padding: 0;
	border: 0;
	transition: .3s;
}

body {
	background: #eee;
	color: $color_1;
	margin: 0;
	padding: 0;
}

.sectionSize {
	width: 100%;
	height: 100vh;
}

p {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0;
	padding: 0;
}


//形象banner區------------------
.swiper {
	width: 100%;
	height: 100vh;
}

.swiper-slide {
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.nav {
	width: 28%;
	display: flex;
	justify-content: center;
	
	.navbar {
		width: 180px;
		height: 100%;
		flex-direction: row;
		justify-content: center;
		.navbar_title {
			width: 180px;
			font-weight: 700;
			white-space: nowrap;
			a {
				display: flex;
				flex-direction: column;
				.title_p {
					color: $color_3;
					font-size: 40px;
					&:nth-child(1){
						margin-right: 60px;
					}
					&:nth-child(2){
						margin-top: -15px;
						margin-left: 100px;
					}
				}
			}
		}
	
		.navbar_content {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.navbar_target {
				display: flex;
				width: 150px;
				// margin-bottom: 34px;
				white-space: nowrap;
				
				&:hover img{
					display: none;

				}
				img{
					width: 35px;
					margin-right: 15px;
					margin-left: -25px;
				
				}
	
				a {
					font-size: 30px;
				}
				.about {
					position: relative;
					&::after {
						content: "";
						position: absolute;
						height: 2px;
						width: 100%;
						bottom: 0;
						left: 0;
						background-color: $background-color_2;
					}
				}
				.news {
					position: relative;
					&::after {
						content: "";
						position: absolute;
						height: 2px;
						width: 100%;
						bottom: 0;
						left: 0;
						background-color: $background-color_2;
					}
				}
				.menu {
					position: relative;
					&::after {
						content: "";
						position: absolute;
						height: 2px;
						width: 100%;
						bottom: 0;
						left: 0;
						background-color: $background-color_2;
					}
				}
				.information {
					position: relative;
					&::after {
						content: "";
						position: absolute;
						height: 2px;
						width: 100%;
						bottom: 0;
						left: 0;
						background-color: $background-color_2;
					}
				}
				.booking {
					position: relative;
					&::after {
						content: "";
						position: absolute;
						height: 2px;
						width: 100%;
						bottom: 0;
						left: 0;
						background-color: $background-color_2;
					}
				}
			}
		}
	
		.navbar_icon {
			display: flex;
			gap: 30px;
			.fa-brands{
				font-size: 50px;
				color: #d74f4b;
			}
			.fa-facebook{
				font-size: 45px;
				color: #375197;
			}
		}
	}
}

#marker{
    position: absolute;
    top: 0px;
	left: -30%;
    // margin-top: -5px;
    width: 170px;
    height: 50px;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::before{
        content: '';
        position: absolute;
		background-repeat: no-repeat;
		background-image: url('../img/0-2 icon/bear.svg');
        width: 35px;
		height: 35px;
		transform: translateY(50%);
     
    }
}




//形象banner區------------------
//關於我們區域-------------------

.profile {
	width: 100%;
	height: 100vh;
	position: relative;

	p {
		font-size: 27.98px;
		letter-spacing: .1em;
		font-weight: 600;
		z-index: 2;
	}
}
//關於我們區域-------------------



//頁面錨點--------------
//頁面錨點--------------

//關於我們區內文字體--------------
.profile_text {
	position: absolute;
	margin-top: 90.01px;

	@media (min-width: 1400px) {
		margin-left: 46.275%;
	}

	.profile_p1 {
		position: relative;
		line-height: 66px;
	}
	
	.profile_p2 {
		margin-top: 42.7px;
		margin-left: 65.97px;
		line-height: 65px;
	}
	
	.profile_p3 {
		margin-top: 42.9px;
		margin-left: 209.03px;
		line-height: 65.55px;
		.profile-text-egg{
			padding-bottom: 10px;
			// background-position:0 100%;
			background-repeat: repeat;
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 10 18'%3E%3Cstyle type='text/css'%3E.squiggle%7Banimation:shift .5s linear infinite;%7D@keyframes shift %7Bfrom %7Btransform:translateX(-10px);%7Dto %7Btransform:translateX(0);%7D%7D%3C/style%3E%3Cpath fill='none' stroke='black' stroke-width='1' class='squiggle' d='M0,17.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5' /%3E%3C/svg%3E");
		}
	}
	//關於我們照片-------------------
	.img1 {
		//兩位老闆的照片
		border-radius: 50%;
		background-color: $background-color_3;
		background-image: url(https://dummyimage.com/750X750/dba878/f5f5f5.png&text=Boss+X2);
		width: 729.68px;
		height: 729.68px;
		position: absolute;
		left: 39px;
		top: 267.84px;
	}

	.img2 {
		//店內一角照片
		border-radius: 50%;
		background-color: $background-color_3;
		background-image: url(https://dummyimage.com/290X290/a2cf8b/f5f5f5.png&text=店&logo);
		width: 288.75px;
		height: 288.75px;
		position: absolute;
		left: 624.49px;
		top: 745px;
	}

	.img3 {
		//三明治照片
		border-radius: 50%;
		background-color: $background-color_3;
		background-image: url(https://dummyimage.com/410X410/c4bf66/f5f5f5.png&text=三明治);
		width: 405.58px;
		height: 405.58px;
		position: absolute;
		left: 68.77%;
		top: 154px;
	}
	//關於我們照片-------------------
}


//關於我們區內文字體--------------

//嚴選食材區-------------------
.foodImg {
	width: 19.21vw;
	height: 19.21vw;
	border-radius: 50%;
	background-color: $background-color_3;
	position: relative;
	transition: 1s;
	box-shadow: inset 300px 0 50px rgba(0,0,0,0.2);

	&:hover{
		box-shadow: inset 20px 0 50px rgba(0,0,0,0.5);
		transition-delay: .3s;
	}
	&:hover .food_imgBox{
		transform: rotateY(-145deg);
		transition-delay: .3s;
	}
	&:hover .foodImgText{

		transition-delay: .6s;
	}
	.food_imgBox{
		position: relative;
		width: 100%;
		height: 100%;
		// border: 1px solid #000;
		background-color: transparent;
		transform-origin: left;
		z-index: 1;
		transition: 1s;
		img{
			position: absolute;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.foodImgTitle {//嚴選食材文字
		position: absolute;
		bottom: -60px;
		left: 50%;
		transform: translateX(-50%);
	}

	.foodimg-p-img {
		position: absolute;
		bottom: 20px;
	}
}

.foodImgText {//嚴選食材文字
	position: absolute;
	top: 50%;
	left: 10px;
	letter-spacing: .2em;
	margin-left: 1em;
}

.foodImg3 {
	margin-top: 73.5px;
}
//嚴選食材照片區-------------------
.foodImg-f {
	// background-image: url(https://dummyimage.com/410X410/c46d55/f5f5f5.png&text=+bread);
	background: #e2d1b8;
}

.foodImg-s {
	background-image: url(https://dummyimage.com/410X410/c4bf66/f5f5f5.png&text=+meat);
}

.foodImg-t {
	background-image: url(https://dummyimage.com/410X410/7467c2/f5f5f5.png&text=+sauce);
}

.foodImg-f1 {
	background-image: url(https://dummyimage.com/410X410/c46d55/f5f5f5.png&text=+egg);
}

.foodImg-s1 {
	background-image: url(https://dummyimage.com/410X410/c4bf66/f5f5f5.png&text=+milk);
}

.foodImg-t1 {
	background-image: url(https://dummyimage.com/410X410/7467c2/f5f5f5.png&text=+fruit);
}
//嚴選食材照片區-------------------

//最新消息區-----------------------
.newsArea {
	width: 100%;
	height: 807px;
	position: relative;
	display: flex;
	align-items: center;

	.swiper-news-border-lineL {
		position: relative;
		margin: 0 auto;
		width: 89%;
		height: 73%;
		&::before {
			//Left-line
			width: 3px;
			height: 98%;
			background: linear-gradient(to bottom, #4a2b0e, #4a2b0e 8.5px, transparent 8.5px, transparent);
			background-size: 100% 17px;
			background-repeat: repeat-y;
			position: absolute;
			content: '';
			left: 0;
			top: 0;
		}
		
		.swiper-news-border-lineR {
			height: 100%;
			position: relative;
			display: flex;
			align-items: center;

			&::before {
				//Right-line
				width: 3px;
				height: 98%;
				background: linear-gradient(to bottom, #4a2b0e, #4a2b0e 8.5px, transparent 8.5px, transparent);
				background-size: 100% 17px;
				background-repeat: repeat-y;
				position: absolute;
				right: 0;
				top: 0;
				content: '';
			}

			.swiper-news-border-lineT{
				width: 100%;
				&::before {
					//Top-line
					width: 100%;
					height: 3px;
					background: linear-gradient(to right, #4a2b0e, #4a2b0e 8.5px, transparent 8.5px, transparent);
					background-size: 17px 100%;
					background-repeat: repeat-x;
					position: absolute;
					top: 0;
					left: 0;
					content: '';
				}
				.swiper-news-border-lineB{
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					&::before {
						//Bottom-line
						width: 100%;
						height: 4px;
						background: linear-gradient(to right, #4a2b0e, #4a2b0e 8.5px, transparent 8.5px, transparent);
						background-size: 17px 100%;
						background-repeat: repeat-x;
						position: absolute;
						left: .1em;
						bottom: 1.2em;
						content: '';
					}
					.newsTitle{
						padding: 0 0 0 0;
						margin-bottom: 70px;
						margin-top: -70px;
						width: 90%;
					}
					.mySwiper1 {//最新消息的swiper
						margin: 0;
						width: 90%;
						height: 25vh;
						.swiper-pagination-bullets{
							.swiper-pagination-bullet-active{
								//swiper頁面點點顏色
								background: #4a2b0e!important;
							}
						}
						.swiper-wrapper {
							.swiper-slide {
								// background-color: aqua;
								padding: 0 5%;
								display: flex;
								justify-content: center;
								align-items: center;
								.blogCard {
									// border: 1px solid black;
									width: 100%;
									height: 100%;
									background-color: #e2d1b8;
									border-radius: 20px 20px 0 20px;
									overflow: hidden;
									
									.blogCardImg {
										width: 25%;
										height: 100%;
									}
									
									.blogCardContent {
										width: 63%;
										margin-left: 5%;
										.blogCardTitle {
											padding: 4px 0;
											color: #4A2B0E;
										}
										.blogCardText{
											padding: 1.5px 0;
											color: #4A2B0E;
										}
									}
								}
							}
						}
					}
					.more-circle-btn{
						//詳細內容按鈕
						align-self: flex-end;
						width: 18%;
						z-index: 1;
						position: absolute;
						bottom: 17.5%;
						.moreCircle {
							border: 1px solid black;
							border-radius: 50%;
							width: 92px;
							height: 92px;
							padding: 3.5px;
							&:hover{
								background-color: #fff;
							}
							
							.moreCircle_min {
								width: 83px;
								height: 83px;
								border: 1px solid black;
								border-radius: 50%;
								line-height: 83px;
								letter-spacing: 4.25px;
							}
						}
					}
				}
			}
		}
	}
}
//最新消息區-----------------------

/* 輪播開關控制 */
.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets{
	width: 30px;
	left: 97.6%;
    transform: translate3d(0px,-7%,0);
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 15px var(--swiper-pagination-bullet-horizontal-gap,4px);
}



// footer --------------------------------------

li {
	/* li去除圓點 */
	list-style: none;
}

.block_title {
	font-size: 20px;
	padding: 5px 0;
}

.block_text {
	font-size: 17px;
	margin: 20px 0;
}



#store_information {
	width: 100%;
	height: 100vh;
	position: relative;
	.footer_content{
		position: relative;
		width: 100%;
		padding: 0 5%;
		background-image: url(../img/1-7footer-img/background.png);
		background-repeat: no-repeat;
		background-position: 0 100%;
		background-size: 98%;
		.information_page{
			.ifmblock1,.ifmblock2,.ifmblock3,.ifmblock4 {
				/* 文字父層區塊padding */
				padding: 10px 15px 30px 15px;
				}
			.footer-info-line1{
				width: 1100px;
				border: 1px solid rgba(0,0,0,0.3);
				}
			.footer-info-line2{
				// width: 1100px;
				border: 1px solid rgba(0,0,0,0.3);
				}
			.footer-info-line3{
				// width: 1100px;
				border: 1px solid rgba(0,0,0,0.3);
				}
		}
	}
	.footer_png2 {
		background-image: url(../img/1-7footer-img/rainbow.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 23.14%;
		height: 26%;
		position: absolute;
		top: 0;
		right: 0;
	}
}