$background-color_1: #4A2B0E;
$background-color_2: #FFD18E;
*{
    transition: .3s;
}

html.noscroll {
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}

html.fixWindow {
    position: fixed;
    width: 100%;
}





.modal-dialog {
    padding: 1rem;
    margin:3rem auto;
    width: 90%;
    .close-modal{
        border: 3px solid rgb(255, 255, 255) !important;
        outline: 3px solid #ffffff;
        outline-offset: -10px;
        opacity: 1;
        background-color: $background-color_1 !important;
        border-radius: 50%;
        width: 46px;
        height: 46px;
        font-size: 20px;
        left: 94%;
        top: -1.5%;
        &:hover {
            opacity: .5;
        }
    }

    .modal-image {
        width: 100%;
        // height: 600px;
    }
    .modal-title {
            font-size: 24px;
            border-radius: 50%;
            background-color: $background-color_2;
            border-radius: 10px;
            text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
        }
    .modal-text {
            font-size: 12px;
    }

    @media(min-width:576px){
        width: 650px!important;
        .modal-title {
            font-size: 49px;
          
        }
        .modal-text {
            font-size: 20px;
        }
        .close-modal {
            width: 50px;
            height: 50px;
            font-size: 30px;
            left: 95%;
            top: -2%;
        }
        .modal-image {

            height: 487px;
        }
    }

    @media(min-width: 768px){
        width: 650px!important;
        .modal-title {
            font-size: 40px;
          
        }
        .modal-text {
            font-size: 20px;
        }
        .close-modal {
            width: 60px;
            height: 60px;
            font-size: 40px;
            left: 94%;
            top: -2%;
        }
        .modal-image {

            height: 487px;
        }
        
    }
    @media(min-width:1512px){
        width: 750px !important;
        height: 80vh !important;
        max-width: 1500px !important;
        .modal-title {
            font-size: 60px;

        }
        .modal-text {
            font-size: 30px;
        }
     
        .close-modal {
            width: 80px;
            height: 80px;
            font-size: 50px;
            left: 94.5%;
            top: -3%;
        }
        .modal-image {

            height: 600px;
        }
    }

}
.mt-375rem {
	margin-top: 3.75rem;
}
@media(max-width:576px){
    .mt12-75-576px{
        margin-top: 12.75rem;
    }
}
// 

div.loadScreen {
    opacity:    1; 
    background: #FFFAF7; 
    width:      100%;
    height:     100vh; 
    z-index:    10;
    top:        0; 
    left:       0; 
    position:   fixed; 

    }
    .x{
        width: 1000px;
        height: 100px;
        background-color: rebeccapurple;
       

    }
    .imgBox{
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(-50%,-50%);
    }
    .egg{
        width: 150px;
        height: 150px;
        position: absolute;
        top: 0%;
        left: 0%;
        background-position: center center;
        background-size: 100% 100%;
        animation: move 2s ease-in-out; 
        animation-fill-mode: forwards;
        animation: egg 6s infinite;
        transform: translateY(-50%);
        z-index: 2;
        
    } 
    .roll{

        animation: roll 8s  infinite;
    }

    @keyframes egg{
        0%{

            background-image: url('../img/loading/玉子燒-1.png');
        }
        7%{
 
            background-image: url('../img/loading/玉子燒-9.png');
        } 
        14%{
    
            background-image: url('../img/loading/玉子燒-3.png');
        }
        21%{
      
            background-image: url('../img/loading/玉子燒-4.png');
        }
        28%{
        
            background-image: url('../img/loading/玉子燒-5.png');
        }
        35%{
          
            background-image: url('../img/loading/玉子燒-6.png');
        }
        42%{
        
            background-image: url('../img/loading/玉子燒-7.png');
        }
        49%{
            background-image: url('../img/loading/玉子燒-1.png');
        }
        56%{
            background-image: url('../img/loading/玉子燒-9.png');
        }
        63%{
            background-image: url('../img/loading/玉子燒-3.png');
        }
     
        70%{
            background-image: url('../img/loading/玉子燒-4.png');
        }
        77%{
            background-image: url('../img/loading/玉子燒-5.png');
        }
        84%{
            background-image: url('../img/loading/玉子燒-6.png');
        }
        91%{
            background-image: url('../img/loading/玉子燒-7.png');
        }
     
    }



    @keyframes roll{
        from{
            /* transform: translateX(0px); */
            margin-left: 0;
        }
        to{
            /* transform: translateX(100%); */
            margin-left: 110%;
        }
    }

    /* //////////////////////////////// */
    .circle{
        width: 50px;
        height: 50px;
        background-color: #F6EF61;
        border-radius: 50%;
        position: absolute;
        right: -50px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;

      
    }
    .big{
        animation: mega 0.8s linear 5.5s ;
    }
    @keyframes mega{
        0%{
            transform: scale(1);
        }
        100%{
            transform: scale(200);
        }
    }
    .loadingText{
        color: #CEB289;
        font-size: 30px;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        animation: loadText .5s linear 6s ;
        animation-fill-mode: forwards;
        
    }
    @keyframes loadText{
        0%{
            opacity: 1;
        }
        95%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }