$font_1: "KFhimaji";
$font_2: "MS Gothic";
$font_3: "Yu Gothic";
$font_4: "Kristen ITC";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

nav {
    transition: .5s;
}

.navbardown {
    background: #CEB289;

    @media(max-width:1200px) {
        display: none !important;
    }

    p {
        color: black;
    }

    .logo {
        width: 100px;
        height: 100px;
        transform-style: preserve-3d;

        &:hover img {
            transform: translateZ(50px);
        }
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            display: flex;
            align-items: center;
            width: 220px;

            @media(max-width:1350px) {
                width: 190px;
            }
        }

        .container1 {
            overflow: hidden;
            position: relative;

            .menudown {
                display: flex;
                height: 100px;
                position: relative;

                a {
                    color: white !important;
                    text-decoration: none !important;

                    .item {
                        cursor: none;
                    }
                }
            }
        }
    }

    .media {
        height: 100px;
        width: 100px;
        position: relative;

        .fbIcon-navdown {
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translateY(-50%);

        }

        .igIcon-navdown {
            position: absolute;
            top: 50%;
            left: 45%;
            transform: translateY(-50%);

        }

        .fa-brands {
            font-size: 50px;
            color: #375197;

            &:hover {
                opacity: .5;
            }
        }

        .fa-instagram {
            margin-left: 20px;
            background: -webkit-linear-gradient(-135deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}







.snake {
    position: absolute;
    transition: transform 500ms;
    width: 100%;
    transform: translateX(-1%) translateY(49px);
    top: 82%;
    left: -3%;
}

.snake path {
    fill: none;
    stroke: #4a2b011c;
    stroke-dasharray: 16 100;
    stroke-width: .5px;

    @media(max-width:1300px) {
        stroke-dasharray: 20 100;
    }
}

.pos0 .snake {
    transform: translateX(-1%) translateY(-99%);
}

.pos1 .snake {
    transform: translateX(18.5%) translateY(-99%);
}

.pos2 .snake {
    transform: translateX(38%) translateY(-99%);
}

.pos3 .snake {
    transform: translateX(58%) translateY(-99%);
}

.pos4 .snake {
    transform: translateX(78.5%) translateY(-99%);
}

.left .snake path {
    stroke-dashoffset: 0;
    transform: translateX(0) translateY(49px);
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}

.right .snake path {
    stroke-dashoffset: -70px;
    transform: translateX(-60%) translateY(49px);
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}

.instant .snake path {
    transition: none;
}



.item {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-right: 50px;
    font-family: $font_2;
    font-size: 30px;
    white-space: nowrap;

    @media(max-width:1512px) {
        font-size: 23px;
    }
    img{
        @media(max-width:1512px) {
            width: 43px;
        }
    }

}

.icon {
    width: 50px;
    margin-right: 10px;
}



////////////
.js-tilt-glare {
    border-radius: 10px;
}


////////////