.newsTitle{
    .logoTag{
        width: 53px;
        @media (max-width:802px){
            width: 40px;
        }
        @media (max-width:645px){
            width: 35px;
        }
        @media (max-width:467px){
            width: 25px;
        }
        @media (max-width:386px){
            width: 23px;
        }
    }
    .circle-line{
        @media (max-width:802px){
            width: 25px;
        }
        @media (max-width:467px){
            width: 18px;
        }
    }
    p{
        margin: 0 50px;
        font-size: 30px;
        color: #4A2B0E;
        @media (max-width:802px){
            margin: 0 25px;
        }
        @media (max-width:467px){
            margin: 0 15px;
        }
    }
}