$font_1: "KFhimaji";
$font_2: "MS Gothic";
$font_3: "Yu Gothic";
$font_4: "Kristen ITC";
*{
    transition: .5s;
}
body{
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position:0 120%;
    background-size: 110% 87%;
    background-image:url(../img/background.png);
    @media (max-width:1600px) {
        background-size: 110% 75%;
    }
    @media (max-width:1400px) {
        background-size: 115% 75%;
    }
    @media (max-width:1200px) {
        background-size: 120% 75%;
    }
    @media (max-width:950px) {
        background-size: 185% 50%;
    }
    @media (max-width:800px) {
        background-size: 190% 50%;
    }
    @media (max-width:680px) {
        background-size: 250% 50%;
    }
}

//SweetAlert2的樣式
.swal2-popup{
    border-radius: 20px!important;
}
.swal2-modal .swal2-title {
    font-size: 32px!important;
    @media (max-width:680px) {
        font-size: 28px!important;
    }
}
.swal2-html-container{
    font-size: 22px!important;
    font-weight: 600;
    @media (max-width:680px) {
        font-size: 18px!important;
    }
}
.swal2-styled.swal2-confirm{
    color: black!important;
    background-color: #FFD18E!important;
    border-radius: 20px!important;
}
.swal2-styled.swal2-confirm:focus{
    box-shadow: none!important;
}

ul,ol {
    margin: 0;
    padding: 0;

    li {
        display: block;
    }
}

.container {
    width: 100%;
    position: relative;

    @media (max-width:1300px) {}
    @media (min-width:1200px) {
        max-width: none!important;
    }
    @media (min-width:992px) {
        max-width: none!important;
    }
    @media (min-width:768px) {
        max-width: none!important;
    }
    @media (min-width:576px) {
        max-width: none!important;
    }
    
    @media (max-width:768px) {}

    @media (max-width:680px) {
        display: flex;
        justify-content: center;
    }
    
    
    
    .book-main {
        width: 100%;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width:680px) {
            margin: 0;
            padding-top: 50px;
            width: 311px;
        }
        .booking-phone{
            display: none;
            position: relative;
            top: 1%;
            left: 1%;
            font-size: 15px;
            align-self: flex-start;
            align-items: center;
            z-index: 2;
            margin: 0 0 55px 15%;
            @media (max-width:950px) {
                display: flex;
            }
            @media (max-width:900px) {
                margin-left: 11%;
            }
            @media (max-width:800px) {
                margin-left: 10%;
            }
            @media (max-width:700px) {
                margin-left: 4%;
            }
            @media (max-width:680px) {
                align-self: flex-start;
                margin: 0 0 20px 0;
            }
            // .logoTag{
            // }
            img{
                width: 53px;
                @media (max-width:680px) {
                    width: 29px;
                }
            }
            // .circle-line{
            // }
            p{
                margin: 0 40px;
                font-size: 30px;
                color: #4A2B0E;
                @media (max-width:680px) {
                    font-size: 15px;
                    margin: 0 20px;
                }
            }
        }
        .b-main-f {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            margin-bottom: 1%;

            .b-main-f-logo {
                a{
                    cursor: url("../img/bear.png")16 16,auto;

                }
                width: 226px;
                height: 73px;
                margin-bottom: 5%;
                @media (max-width:950px) {
                    display: none;
                }

                img {
                    width: 100%;
                }

                @media (max-width:1300px) {}
                
                @media (max-width:768px) {}
                
                @media (max-width:680px) {
                    display: none;
                }
            }

            .b-main-f-text {
                @media (max-width:680px) {
                    height: 90px;
                    margin-bottom: 7%;
                }
                .book-text-ul {
                    .book-text-1 {
                        line-height: 35px;
                        text-align: center;
                        font-size: 17px;
                        font-weight: 400;

                        @media (max-width:680px) {
                            font-size: 14px;
                            line-height: 22px;
                            display: none;
                        }

                        @media (max-width:768px) {}

                        @media (max-width:1300px) {}
                    }
                }

                .book-text-ul-phone {
                    display: none;

                    @media (max-width:680px) {
                        margin: 0;
                        
                        font-size: 14px;
                        line-height: 22px;
                        display: block;
                        white-space: nowrap;
                        text-align: center;
                        
                    }

                    @media (max-width:768px) {}

                    @media (max-width:1300px) {}
                }
                .book-text-1-phone{
                    @media (max-width:680px) {
                        &:nth-child(3){
                            margin-top: 15px;
                        }
                    }

                    @media (max-width:768px) {}

                    @media (max-width:1300px) {}
                }
            }
            .sun-animate{
                opacity: .3;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 300px;
                height: 30px;
                background-image: url(../img/sun/smile.svg);
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                top: 50%;
                right: -140%;
                @media (max-width:1700px) {
                    top: 40%;
                    right: -90%;
                }
                @media (max-width:1300px) {
                    right: -80%;
                }
                @media (max-width:1200px) {
                    right: -70%;
                }
                @media (max-width:1100px) {
                    right: -60%;
                    height: 25px;
                }
                @media (max-width:950px){
                    top: -80%;
                    right: -30%;
                }
                @media (max-width:680px) {
                    top: -20%;
                    right: -65%;
                    height: 17px;
                }
                .sun-line{
                    width: 300px;
                    height: 300px;
                    a{
                        cursor: url("../img/bear.png")16 16,auto;
    
                    }
                    @media (max-width:1610px) {
                        width: 250px;
                        height: 250px;
                    }
                    @media (max-width:1300px) {
                        width: 200px;
                        height: 200px;
                    }
                    @media (max-width:950px) {
                        width: 150px;
                        height: 150px;
                    }
                    @media (max-width:680px){
                        width: 100px;
                        height: 100px;
                    }
                    .sun-line{
                        animation:sunspin 40s infinite linear;
                    }
                }
            }
            @keyframes sunspin {
                from {
                    transform:rotate(0deg);
                }
                to {
                    transform:rotate(360deg);
                }
            }
        }

        .b-main-s {
            width: 1100px;
            display: flex;

            @media (max-width:1300px) {
                width: 925px;
            }
            
            @media (max-width:950px) {
                width: 600px;
                flex-direction: column;
            }
            
            @media (max-width:680px) {
                margin: 0;
                align-items: center;
                margin-left: 5%;
                width: 320px;
            }
            .b-main-s-map {
                margin-top: 2px;
                margin-right: 30px;
                @media (max-width:680px) {
                    margin-right: 0;
                }

                #g-map {
                    width: 600px;
                    height: 550px;

                    @media (max-width:1300px) {
                        width: 500px;
                        height: 540px;
                    }
                    
                    @media (max-width:950px) {
                        width: 600px;
                        height: 450px;
                    }
                    
                    @media (max-width:680px) {
                        width: 311px;
                        height: 236px;
                    }
                }
            }

            .b-main-s-text {
                position: relative;

                @media (max-width:1300px) {}
                
                @media (max-width:768px) {}
                
                @media (max-width:680px) {
                    margin-top: 21px;
                }

                .book-text-ul-2 {
                    .book-text-title {
                        font-size: 40px;
                        margin-bottom: 15px;
                        
                        @media (max-width:1300px) {
                            font-size: 35px;
                        }
                        @media (max-width:950px) {
                            display: none;
                        }

                    }

                    .book-text-2 {
                        font-size: 20px;
                        line-height: 40px;
                        letter-spacing: 3px;

                        @media (max-width:1300px) {
                            font-size: 17px;
                        }
                        
                        @media (max-width:950px) {
                            line-height: 40px;
                            letter-spacing: .1em;
                        }
                        
                        @media (max-width:680px) {
                            font-size: 14px;
                            line-height: 25px;
                            letter-spacing: 2px;
                        }
                    }
                }

                .book-icon {
                    position: absolute;
                    top: 160px;
                    right: 45px;

                    @media (max-width:1300px) {
                        top: 28%;
                        right: 6%;
                    }
                    
                    @media (max-width:950px) {
                        top: 20%;
                        right: 2%;
                    }
                    
                    @media (max-width:680px) {
                        top: 13%;
                        right: 1%;
                    }

                    .fa-brands {
                        font-size: 30px;
                        color: #375197;
                        &:hover{
                            opacity: .5;
                        }
                        @media (max-width:680px) {
                            font-size: 17px;
                        }
                    }

                    .fa-instagram {
                        margin-left: 15px;
                        background: -webkit-linear-gradient(-135deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }

                .b-main-s-input {
                    form {
                        caret-color: rgb(20, 137, 233);
                        .book-input {
                            width: 200px;
                            height: 3em;
                            border: 1px solid black;
                            background: none;
                            border-radius: 20px;
                            text-align: left;
                            padding-left: 30px;
                            
                            @media (max-width:1300px) {
                                width: 190px;
                            }
                            
                            @media (max-width:950px) {
                                width: 290px;
                            }

                            @media (max-width:680px) {
                                width: 300px;
                                height: 30px;
                                font-size: 12px;
                            }


                            &:focus-visible {
                                outline: none;
                            }

                            &:nth-child(1),
                            &:nth-child(2) {
                                margin-bottom: 10px;

                                @media (max-width:1300px) {}
                                
                                @media (max-width:768px) {}
                                
                                @media (max-width:680px) {
                                    margin-bottom: 24px;
                                }
                            }

                            &:nth-child(1),
                            &:nth-child(3) {
                                margin-right: 10px;

                                @media (max-width:1300px) {}
                                
                                @media (max-width:950px) {
                                }
                                
                                @media (max-width:680px) {
                                margin: 0 0 24px 0;
                                }
                            }

                            &:nth-child(3) {
                                &::-webkit-calendar-picker-indicator {
                                    margin-right: 30px;
                                    margin-left: -30px;
                                }
                            }
                        }

                        .book-input2 {
                            margin-top: 15px;
                            padding: 10px;
                            padding-bottom: 0;
                            width: 410px;
                            height: 216px;
                            border-radius: 10px;
                            resize: none;
                            background: none;
                            box-sizing: border-box;

                            @media (max-width:1300px) {
                                width: 393px;
                            }
                            
                            @media (max-width:950px) {
                                width: 600px;
                                height: 150px;
                            }
                            
                            @media (max-width:680px) {
                                font-size: 12px;
                                width: 300px;
                                height: 85px;
                                margin-top: 24px;
                            }

                            &:focus-visible {
                                outline: none;
                            }

                            &::placeholder {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        .b-main-t{
            width: 750px;
            margin: 10px 0 10px 0;
            display: flex;
            justify-content: flex-end;
            @media (max-width:1300px) {
                width: 680px;
            }
            @media (max-width:950px) {
                width: 600px;
                justify-content: center;
            }

            @media (max-width:680px) {
                align-self: center;
                margin-right: 0;
            }
            .btn{
                box-shadow: none;
            }
        }
    }
}